body {
  max-width: 412px;
  max-height: 846px;
  background-color: lightpink;
}

.main {
  background-color: white;
}

.delete-button {
  color: red;
}

.active {
  background-color: #fde9c7;
  color: #a56b40;
}
